<html>
<head>
    {{> header}}
</head>
<body>
    <h1>Login</h1>

<div class="container">

{{> menu}}

<form action='/login' method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">User Name</label>
    <input type="text" name="username" class="form-control" placeholder="Enter User Name">
    </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

  {{#message}}
    //inject the message if the message does contain something
    //tag used to make sure that the message does have certain value
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
  {{/message}}
</form>


</div>
  {{> footer}}
</body>
</html>